.nav {
  grid-area: n;
  background-color: rgba(209, 204, 226, 0.945);
  padding-top: 40px;
}

.item {
  color: rgb(78, 117, 153);
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.item a {
  color: rgb(73, 72, 72);
}
.item a.activeLink {
  color: rgb(0, 0, 0);
}
