.app__wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: h;
  background-color: rgb(238, 201, 201);
}
.header img {
  width: 20px;
}
.nav {
  grid-area: n;
  background-color: rgba(224, 208, 156, 0.945);
}
/* .content {
  grid-area: c;
  background-color: rgb(146, 174, 190);
}
.content img {
  width: 1000px;
} */
