.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 20px;
  font-size: 18px;
  font-family: Roboto;
  color: rgb(19, 64, 104);
}

.dialogsItems .active {
  color: aliceblue;
}
.textarea {
  height: 18px;
  margin-right: 10px;
}